INFLUX_ADMIN_PASSWORD=
INFLUX_TOKEN=
GRAFANA_ADMIN_PASSWORD=
NODERED_PASSWORD=
MQTT_EXPLORER_PASSWORD=
MQTT_EXPLORER_USERNAME=
MQTT_EXPLORER_SKIP_AUTH=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
ALERT_EMAIL=
NODE_RED_CREDENTIAL_SECRET=
