CONFIG_IDF_TARGET="esp32"

# MODEM SLEEP Options
CONFIG_BTDM_CTRL_MODEM_SLEEP=y
CONFIG_BTDM_CTRL_MODEM_SLEEP_MODE_ORIG=y
# Bluetooth low power clock
# CONFIG_BTDM_CTRL_LPCLK_SEL_EXT_32K_XTAL is not set
CONFIG_BTDM_CTRL_LPCLK_SEL_MAIN_XTAL=y

# RTC clock source
CONFIG_RTC_CLK_SRC_INT_RC=y
# CONFIG_RTC_CLK_SRC_EXT_CRYS is not set

# Run FreeRTOS only on first core
CONFIG_FREERTOS_UNICORE=y
